$faded-colour: rgba(0,0,0,0.4)
$padding: 20px

body
	font-family: 'Verdana'
	color: $faded-colour
	text-align: center
	margin: 0
	padding-top: $padding * 2

	.hidden
		display: none

	.button
		position: relative
		display: inline-block
		padding: $padding / 2
		background-color: white
		cursor: pointer
		border-radius: 3px
		font-size: 14px
		text-transform: uppercase
		border: 1px solid transparent

		&.primary
			border-color: coral
			color: coral

		&.secondary
			border-color: darkturquoise
			color: darkturquoise

		&:hover
			border-color: transparent
			text-decoration: underline

		&:active, &:focus
			outline: none

		&:before
			content: attr(data-filename)
			position: absolute
			top: 105%
			left: 50%
			color: $faded-colour
			font-size: 10px
			text-transform: none
			transform: translateX(-50%)

	.image-container
		position: relative
		width: 70%
		margin: $padding * 2 auto
		display: inherit

		& > img
			width: 100%

		& > span
			position: absolute
			top: 0
			right: 0
			padding-top: 1px
			padding-right: 6px
			cursor: pointer
			color: white

		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			width: 0
			height: 0
			border: $padding solid transparent
			border-top-color: $faded-colour
			border-right-color: $faded-colour