<!DOCTYPE html>
<html>
<head>
	<title>Simple Uploader</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/jquery-1.11.2.min.js"></script>
</head>
<body>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<input type="file" accept=".png, .jpg" name="file" />
		<input type="submit" value="UPLOAD">
	</form>

	<% if !@image.nil? %>
		<a href="#" class="ui-killit">Kill It</a>
		<img src="data:image/foo;base64,<%= @image %>" />
	<% end %>

	<script type="text/javascript">
		$(".ui-killit").click(function() {
			$.ajax({
				url: "/killit",
				type: "POST",
				success: function() {
					location.reload();
				}
			});
		});
	</script>

</body>
</html>