<!DOCTYPE html>
<html>
<head>
	<title>Simple Uploader</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<input type="file" accept=".png, .jpg" name="file" />
		<input type="submit" value="UPLOAD">
	</form>

	<% if !@image.nil? %>
		<a href="#" class="ui-killit" onclick="killit()">Kill It</a>
		<img src="data:image/foo;base64,<%= @image %>" />
	<% end %>

	<script type="text/javascript">
		function killit() {
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/killit');
			xhr.send(null);

			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					location.reload();
				}
			};
		}
	</script>

</body>
</html>