<!DOCTYPE html>
<html>
<head>
	<title>Simple Uploader</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/scripts.js"></script>
</head>
<body>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<span>I'd suggest firstly </span>
		<label for="file" class="button">Choosing</label>
		<input id="file" type="file" accept=".png, .jpg" name="file" />
		<span>a file, followed by </span>
		<input type="submit" value="Uploading">
		<span>it.</span>
	</form>

	<% if !@image.nil? %>
	<div class="image-container">
		<div class="tri"></div>
		<span href="#" class="ui-killit" onclick="killit()">x</span>
		<img src="data:image/foo;base64,<%= @image %>" />
	</div>
	<% end %>

</body>
</html>